.monday {
    display: inline-block;
    margin: 0 0.5em;
    flex-grow: 1;
    width: 95%; 
    text-align: center;
}

.tuesday {
    display: inline-block;
    margin: 0 0.5em;
    flex-grow: 1;
    width: 95%; 
    text-align: center; 
}

.wednesday {
    display: inline-block;
    margin: 0 0.5em;
    flex-grow: 1;
    width: 95%;  
    text-align: center;
}

.thursday {
    display: inline-block;
    margin: 0 0.5em;
    flex-grow: 1;
    width: 95%; 
    text-align: center;
}

.friday {
    display: inline-block;
    margin: 0 0.5em;
    flex-grow: 1;
    width: 95%;
    text-align: center; 
}

.saturday {
    display: inline-block;
    margin: 0 0.5em;
    flex-grow: 1;
    width: 95%; 
    text-align: center;
}

.sunday {
    display: inline-block;
    margin: 0 0.5em;
    flex-grow: 1;
    width: 95%; 
    text-align: center;
}

@media (min-width: $desktop-breakpoint) {
    .monday {
        width: 12%;
    }
    .tuesday {
        width: 12%;
    } 
    .wednesday {
        width: 12%;
    }
    .thursday {
        width: 12%;
    }
    .friday{
        width: 12%;
    } 
    .saturday{
        width: 12%;
    } 
    .sunday {
        width: 12%;
    }
}
