@import './base/settings';
@import './base/base';
@import './components/monday.scss';

.schedule {
    display: flex;
    flex-wrap: wrap;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: blue;
}

Header a {
    text-decoration: none;
    padding: 10px;
}

Header {
    margin-bottom: 50px;
    text-align: center;
}

.about {
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 100px;
    width: 800px;
    padding: 30px;
    background-color: palevioletred;
}

.about h2 {
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    background-color: darken(palevioletred, 10%);
}

.about a {
    text-decoration: none;
}

.about a:hover {
    font-size: 24px;
}