@import './base/settings';
@import './base/base';
@import './components/monday.scss';

.schedule {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #EEEEEE;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #12A6B2;
    border-bottom: 3px solid darken(#12A6B2, 5%);;
}

button:hover {
    background-color: darken(#12A6B2, 5%);
    font-weight: bold;
}

Header a {
    text-decoration: none;
    padding: 10px;
    color: black;
    word-break: break-all;
    border-bottom: 1px solid black;
}

Header p {
    font-weight: bold;
    width: 40%;
    background-color: darken(#F47F3A, 10%);
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;    
}

Header {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    width: 65%;
    border-radius: 5px;
}


header {
    padding: 40px;
    background-image: url("../../public/images/bg_small.png");
    background-color: #F47F3A;
}

.about {
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 100px;
    width: 350px;
    padding: 30px;
    background-color: #12A6B2;
}

.about h2 {
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    background-color: darken(#12A6B2, 5%);
}

.about a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.about a:hover {
    font-size: 20px;
}

.about img {
    width:22x;
    height:22px;
    margin-right:5px;
}

.not-found {
    color: white;
    text-align: center;
    font-size: $xl-size;
}

.not-found a {
    text-decoration: none;
    color: black;
    font-size: $l-size;
    padding: 20px;
    background-color: #12A6B2;
}

@media (min-width: $desktop-breakpoint) {
    .about {
        width: 800px;
    }
    .schedule {
        flex-direction: row;
    }
    Header p {
        width: 20%;
    }
    header {
    background-image: url("../../public/images/bg.png");
    }
}

