@import url('https://fonts.googleapis.com/css?family=Montserrat');
//@import url('https://fonts.googleapis.com/css?family=Antic');


html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    font-size: $m-size;
    background-color: lighten(black, 15%);
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
  }


